<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>WISH LIST</title>
  <link rel="stylesheet" href="/css/style2.css">
  <script src="/send_url.js"></script>
</head>

<body>
 
  <%- include('header');  %>
  <div class="container">
    <div class="container-header">
      <h1>WISH LIST一覧</h1>
      <a href="/new" class="new-button">新規追加</a>
    </div>
    <div class="index-table-wrapper">
      <div class="table-head">
        <span class="id-column">ID</span>
        <span class="name-column">WISH</span>
        <span class="newtime">登録日時</span>
      </div>
      <ul class="table-body">
        <% items.forEach((item) => { %>
          <li>
            <div class="item-data">
              <span class="id-column"><%= item.id %></span>
              <span class="name-column"><%= item.name %></span>
              <span class="newtime"><%= item.created_at %></span>
            
            </div>
            <div class="item-menu">
         <a href="/noeditmemo/<%= item.id %>">メモ</a>
        </div>
      </li>
    <% }); %>
  </ul>
</div>
</div>
</body>
</html>